* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;

}

.content {
    background-image: url(Banner\ Image.png);
    width: 1320px;
    height: 600px;
    text-align: center;
}

.content h1 {
    line-height: 95px;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    color: #be1a1a;
    padding: 233px 344px 177px 344px;
}

.content h2 {
    color: tomato;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section {
    text-align: center;
    display: block;
    padding: 20px 200px;
}

section h1 {
    color: #F00;

    text-align: center;
    font-family: ;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
}

section p {
    color: #F00;
    text-align: center;
    font-family: ;
    font-size: 24px;
    font-style: normal;
    font-weight: 500
}

section h2 {
    color: #070211;
    text-align: center;
    font-family: ;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner {
    background-image: url(Vectorrr.png);
}